.background-0 {
	background: url('photos/IMG_4213.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

.background-1 {
	background: url('photos/IMG_4216.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

.background-2 {
	background: url('photos/IMG_4217.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

.background-3 {
	background: url('photos/IMG_4218.jpg');
	background-size: cover;
}

body {
	height: 100vh;
	padding: 0px 15px;
}


input.output-area {
	background: transparent;
	border: none;
	border-bottom: 2px black solid;
	width: 100%;
	box-sizing: border-box;
	font-size: 35px;
}

.calculator-container {
	max-width: 100%;
	max-width: 400px;
	margin: 100px auto;
	border: 2px black solid;

}

.calculator-container .output-area {
	padding: 20px 5px;
	text-align: right;
}
.number-bay .number-button, .number-bay .operator-button {
	display: inline-block;
	padding: 9% 0;
	width: 31.9%;
	text-align: center;
}

.number-bay .bottom-row {
	padding-bottom: 0;
}

button {
	margin: 5px auto;
	border: none;
	background: transparent;
	font-size: 35px;
}

button:hover {
	color: teal;
}

.number-bay {
	float: left;
	width: 84%;
}

.operator-bay {
	float: left;
	width: 11%;
	margin-left: 2%;
	padding-left: 2%;
	border-left: 2px solid black;
}

.operator-bay button{
	width: 100%;
	padding: 35% 0;
	text-align: center;
}

@media (min-width: 400px){
	.operator-bay button {
		padding: 30% 0;
	}
}

/*Clearfix hack*/

.group:after {
  content: "";
  display: table;
  clear: both;
}