body {
	height: 100vh;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	position: relative;
}

.hero-bg {
	width: 100%;
	height: 100%;
}

.background-0 {
	background: url('photos/IMG_4213.jpg') no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
}

.background-1 {
	display: none;
	background: url('photos/IMG_4216.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

.background-2 {
	display: none;
	background: url('photos/IMG_4217.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

.background-3 {
	display: none;
	background: url('photos/IMG_4218.jpg');
	background-size: cover;
	background-position: center;
}

.position-center {
	position: absolute;
	top: 45%; /**This is because things look a little weird perfectly centered**/
	left: 50%;
}

.calculator-container {
	width: 95%;
	margin: auto;
	border: 2px black solid;
	box-sizing: border-box;
	background: rgba(255,255,240,0.25);
}

button {
	margin: 5px auto;
	border: none;
	background: transparent;
	font-size: 35px;
}

button:focus {
	outline:0;
}

button:hover {
	color: teal;
}

input.output-area {
	background: transparent;
	border: none;
	border-bottom: 2px black solid;
	width: 100%;
	box-sizing: border-box;
	font-size: 35px;
	padding: 20px 5px;
	text-align: right;
}

.number-bay {
	float: left;
	width: 84%;
}

.operator-bay {
	float: left;
	width: 11%;
	margin-left: 2%;
	padding-left: 2%;
	border-left: 2px solid black;
}

.number-bay button {
	display: inline-block;
	padding: 9% 0;
	width: 31.9%;
	text-align: center;
}

.number-bay .bottom-row {
	padding-bottom: 0;
}

.operator-bay button{
	width: 100%;
	padding: 38% 0;
	text-align: center;
}

@media (min-width: 450px) {
	.calculator-container {
		max-width: 400px;
	}
}

@media (min-width: 650px) {
	button {
		font-size: 50px;
	}

	.operator-bay button{
		padding: 10% 0;
	}

	.number-bay button {
		padding: 5% 0;
	}
}

/*Clearfix hack*/

.group:after {
  content: "";
  display: table;
  clear: both;
}